<table class="table table-striped shadow-sm bg-white rounded">
    <thead>
      <tr>
        <th colspan="2" class="text-center spec-title">Specification</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let spec of specsContent">
        <tr>
          <th colspan="2" class="text-center spec-title">
            {{spec.section}}
          </th>
        </tr>
        <tr *ngFor="let specInfo of spec.infos">
          <th>{{specInfo.name}}</th>
          <td>{{specInfo.value}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
