<table class="table table-striped shadow-sm bg-white rounded">
    <thead>
      <tr>
        <th colspan="2" class="text-center">Specification</th>
      </tr>
    </thead>
    <tr>
      <th colspan="2">
        Processor
      </th>
    </tr>
    <tr>
      <th>Processor</th>
      <td>Intel Core i7</td>
    </tr>
    <tr>
      <th>Number of cores</th>
      <td>6 (Hexa Core)</td>
    </tr>
    <tr>
      <th>Processor clock [GHz]</th>
      <td>2.2</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
